.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchInput {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  margin: 10px 0px;
}

.searchContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.searchButton {
  background-color: white;
  color: #282c34;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: medium;
  font-weight: 800;
  cursor: pointer;
}

.cardsContainer {
  display: grid;
  margin: 6rem 0;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.2rem;
  justify-items: center;
}

.card {
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
}

.cardImage {
  max-width: 500px;
}

.bio {
  font-size: small;
}

.imageFallback {
  width: 500px;
  height: 500px;
  background-color: azure;
  margin: auto;
}

.pagination {
  display: inline-flex;
  gap: 2rem;
  text-decoration: none;
}

.pagination .active-page {
  color: deeppink;
}

.pagination a {
  color: white;
  text-decoration: none;
}
